<ion-header>
  <ion-toolbar color="primary">
    <ion-title>
      Portal RH
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="ion-padding">
    <h5>Horário Padrão 08:00 - 12:00 / 13:30 - 18:00</h5>
    <ion-list>
      <ion-item>
        <ion-label>Manhã</ion-label>
        <ion-datetime display-format="HH:mm" picker-format="HH:mm" placeholder="00:00" [(ngModel)]="morningBegin" (ionChange)="morningBeginChanged($event)"></ion-datetime>
        <ion-datetime display-format="HH:mm" picker-format="HH:mm" placeholder="00:00" [(ngModel)]="morningEnd" (ionChange)="morningDiffChanged($event)"></ion-datetime>
        <span *ngIf="morningDiff !== 0" class="span-diff" [ngClass]="{'span-red': morningDiff < 0, 'span-green': morningDiff > 0}">{{morningDiff > 0 ? '+' : ''}}{{morningDiff}}</span>
      </ion-item>
      <ion-item>
        <ion-label>Tarde</ion-label>
        <ion-datetime display-format="HH:mm" picker-format="HH:mm" placeholder="00:00" [(ngModel)]="afternoonBegin" (ionChange)="afternoonBeginChanged($event)"></ion-datetime>
        <ion-datetime display-format="HH:mm" picker-format="HH:mm" placeholder="00:00" [(ngModel)]="afternoonEnd" (ionChange)="afternoonDiffChanged($event)"></ion-datetime>
        <span *ngIf="afternoonDiff !== 0" class="span-diff" [ngClass]="{'span-red': afternoonDiff < 0, 'span-green': afternoonDiff > 0}">{{afternoonDiff > 0 ? '+' : ''}}{{afternoonDiff}}</span>
      </ion-item>
      <ion-item *ngIf="totalDiff !== 0">
        <ion-label class="total-label">Total</ion-label>
        <span class="span-diff" [ngClass]="{'span-red': totalDiff < 0, 'span-green': totalDiff > 0}">{{totalDiff > 0 ? '+' : ''}}{{totalDiff}}</span>
      </ion-item>
    </ion-list>
    <section class="btn-containter">
        <ion-button (click)="clearTime()">Limpar</ion-button>
    </section>
  </div>
</ion-content>
